@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
}
.list-container{
    background-color: blue;
    background-image: url("../images/list-bg.jpg");
    min-height: 100vh;
}
.list-subcontainer{
    padding: 0 0 100px 0;
}
.list-heading{    
    text-align: center;
    font: 50px "Sedan SC", serif;
    color: rgb(0, 18, 182);
    padding: 30px;
}
.no-task{
    text-align: center;
    margin: 100px 0 0 0;
    font: 50px "Salsa";
    background-color: rgba(0, 0, 133, 0.5);
    color: white;
}